.gameContainer {
    background: antiqueWhite;
    width: 100%;
    height: 90vh;
}

/** Center elements in the chest container */
.chestContainer {
    background: antiqueWhite;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainContainer {
    background: cornSilk;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}